.nav {
    font-weight: bold;
    border: 2px solid RoyalBlue;
    text-align: center;
    width: 10em;
}

.nav li {
    border-top: 2px solid RoyalBlue;
    width: 10em;
    color: black;
    display: none;
}

.nav:hover li {
    display: block;
}

.nav2 {
    font-weight: bold;
    text-align: center;
}

.nav2 ul {
    display: none;
}

.nav2:hover ul {
    display: block;
}

.nav2 ul li {
    border: 2px solid RoyalBlue;
    width: 10em;
    background-color: red;
    color: black;
}